.card-hover-effect {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-hover-effect:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.08) !important;
    cursor: default;
}

/* Custom Scrollbar for the expense list */
.expense-list-container::-webkit-scrollbar {
    width: 4px;
}
.expense-list-container::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 10px;
}

/* Hide arrows for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}